
#listWrapper{
 width:500px;
 border: 1px  solid brown;
}
ul {
    list-style: none;
    height: 100%;
    width:100%;
}
ul li{
    padding: 5px;
    margin: 2px;
}
.catArea{
    width:550px;
}
img{
    width:100%;
}